html{
	text-align: center;
	align-content: center;
	background-color: lavender;
}
h1{
	font-size: 24px;
	padding-bottom: 10px;
}
h3{
	font-size: 16px;
	padding-bottom: 10px;
}
legend{
	padding-top: 10px;
	border: 2px dashed;
	font-size: 16px;
	border-color: white;
}
label{
	display: block;
	text-align: center;
	font-weight: bold;
	height: 30px;
	width: 50px;
	padding-bottom: 10px;
}
div{
	height: 30px;
	width: 150px;
	border-radius: 10%;
	background-color: lightcoral;
	text-decoration-color: black;
	display: inline-block;
	font-size: 20px;
	padding-top: 10px;
}
@media screen and (min-width: 480px){
	html{
		background-color: aquamarine;
	}
	h1{
		font-size: 40px
	}
	h3{
		font-size: 32px;
	}
	input{

	}
}
