html{
	text-align: center;
	align-content: center;
	background-color: lavender;
}
p{
	display: inline;
	margin: 25px;
	font-size: 15px;
}
input[type=text type=email type=phone type=date]{
	border-color: purple;
	border-radius: 20%;
}
input[type=submit]{
	background-color: green;
	font-size: 18px;
	padding: 14px 40px;
	border-radius: 12px;
	margin: 25px;
}
h1{
	font-size: 30px;
	margin-bottom: 15px;
	font-family: 'Lucida Console',monospace;
	font-weight: bold;
}
h3{
	font-size: 18px;
	margin-bottom: 10px;
	font-family: 'Comic Sans MS',sans-serif;
}
@media screen and (min-width: 480px) {
	html{
		text-align: left;
		align-content: center;
		background-color: #5F9EA0;
	}
	h1{
		font-size: 64px;
	}
	h3{
		font-size: 40px;
	}
}